%h3 List of #{post_author} posts :

%stack-l( gap-1 )
  - posts.each do |post|

    %turbo-frame{ id: frame_id_for( post ) }
      = render "posts/show", post: post, icons: icons

%a{
  href: routes.path( :new_post ),
  style: "margin-top: var(--gap0);",
  class: 'btn btn-primary',
  data: { turbo: false }
  } Add a post
