$grey-darker: hsl(0, 0%, 25%);
$grey-dark: hsl(0, 0%, 35%);
$grey: hsl(0, 0%, 50%);
$grey-light: hsl(0, 0%, 75%);
$grey-lighter: hsl(0, 0%, 88%);

$main-container-bg-color: $grey-lighter;
$main-container-border-radius: 1ch;

$body-color: hsl(20, 5%, 40%);
$var-body-color: hsl(20, 80%, 95%);

